<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sky.mapper.SetmealMapper">


    <select id="countByDishIds" resultType="java.lang.Integer">
        select count(*) from setmeal_dish
        <where>
            <foreach collection="ids" item="id" separator="or">
                dish_id = #{id}
            </foreach>
        </where>
    </select>

    <resultMap id="setmealVO" type="com.sky.vo.SetmealVO">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="price" column="price"/>
        <result property="status" column="status"/>
        <result property="description" column="description"/>
        <result property="categoryName" column="category_name"/>
        <result property="categoryId" column="category_id"/>
        <result property="image" column="image"/>
        <result property="updateTime" column="update_time"/>
        <collection property="setmealDishes" ofType="com.sky.entity.SetmealDish">
            <id property="id" column="setmeal_dish_id"/>
            <result property="dishId" column="dish_id"/>
            <result property="name" column="dish_name"/>
            <result property="price" column="dish_price"/>
            <result property="copies" column="copies"/>
            <result property="setmealId" column="setmeal_id"/>
        </collection>
    </resultMap>

    <!--    IPage<SetmealVO> pageQuery(IPage<SetmealVO> page, SetmealPageQueryDTO setmealPageQueryDTO);-->
    <select id="pageQuery" resultType="com.sky.vo.SetmealVO">
        select sm.*,c.name as category_name,c.id
        from setmeal sm
        left join category c on sm.category_id = c.id
        <where>
            <if test="setmealPageQueryDTO.categoryId != null">
                and sm.id = #{setmealPageQueryDTO.categoryId}
            </if>
            <if test="setmealPageQueryDTO.name != null">
                and sm.name like concat('%',#{setmealPageQueryDTO.name},'%')
            </if>
            <if test="setmealPageQueryDTO.status != null">
                and sm.status = #{setmealPageQueryDTO.status}
            </if>
        </where>
        order by sm.update_time desc
    </select>

    <select id="getByIdWithDishes" resultMap="setmealVO">
        select sm.*,
               c.name    as category_name,
               c.id      as category_id,
               smd.id    as setmeal_dish_id,
               setmeal_id,
               dish_id,
               smd.name  as dish_name,
               smd.price as dish_price,
               copies
        from setmeal sm
                 left join setmeal_dish smd on sm.id = smd.setmeal_id
                 left join category c on sm.category_id = c.id
        where sm.id = #{id}
    </select>

    <select id="getDishesWithImageById" resultType="com.sky.vo.DishItemVO">
        select sd.copies,d.description,d.image,d.name
        from setmeal_dish sd
                 left join dish d on sd.dish_id = d.id
        where sd.setmeal_id = #{id}
    </select>
</mapper>